---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Bange from "../components/Bange.astro";
import Location from "../components/icons/Location.astro";
import Github from "../components/icons/Github.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Title from "../components/Title.astro";
import CardSkill from "../components/CardSkill.astro";
import HTML from "../components/icons/HTML.astro";
import CSS from "../components/icons/CSS.astro";
import Bootstrap from "../components/icons/Bootstrap.astro";
import PHP from "../components/icons/PHP.astro";
import Java from "../components/icons/Java.astro";
import CSharp from "../components/icons/CSharp.astro";
import JavaScript from "../components/icons/JavaScript.astro";
import Dart from "../components/icons/Dart.astro";
import Laravel from "../components/icons/Laravel.astro";
import DotNet from "../components/icons/DotNet.astro";
import Flutter from "../components/icons/Flutter.astro";
import SQLServer from "../components/icons/SQLServer.astro";
import MySQL from "../components/icons/MySQL.astro";
import Git from "../components/icons/Git.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import Postman from "../components/icons/Postman.astro";
import Swagger from "../components/icons/Swagger.astro";
import Figma from "../components/icons/Figma.astro";
import AdobeXd from "../components/icons/AdobeXd.astro";
import Ubuntu from "../components/icons/Ubuntu.astro";
import ExperienceCard from "../components/ExperienceCard.astro";
import Tailwind from "../components/icons/Tailwind.astro";

const startYear = 2023;
const currentYear = new Date().getFullYear();
const yearsCount = currentYear - startYear;

const currentDate = new Date(); // Fecha actual

const startActualJob = new Date(2024, 10); // Noviembre de 2024

// Cálculo directo de años y meses
const totalMonths = (currentDate.getFullYear() - startActualJob.getFullYear()) * 12 
                   + (currentDate.getMonth() - startActualJob.getMonth());

const currentYears = Math.floor(totalMonths / 12); // Años completos
const currentMonths = totalMonths % 12; // Meses restantes
---

<Layout
  title="Porfolio de Luis Duran - Desarrollador de Software y Desarrollador Web"
>
  <main id="home" >
    <section 
      class="flex flex-col-reverse lg:flex-row justify-center w-full mx-auto px-7 md:px-32 lg:flex-wrap lg:w-[924px] lg:h-[316px] lg:p-0 lg:mt-52 lg:mb-7 mt-24"
    >
      <div class="lg:w-2/3 mt-3">
        <h1
          class="text-4xl lg:text-5xl text-center md:text-left font-bold text-balance"
        >
          Hola, soy Luis Duran
        </h1>
        <h2 class="text-base lg:text-lg py-6 lg:pr-9 opacity-80">
          Egresado de la carrera de <span class="text-[#E74C3C]"
            >Ingeniería en Sistemas Computacionales</span
          >, apasionado por el desarrollo software, con  <span
            class="text-[#E74C3C]"> +{ yearsCount } años de experiencia en desarrollo web</span
          >.
        </h2>
        <div
          class="flex flex-wrap-reverse justify-center md:flex-row md:justify-start"
        >
          <Location class="w-4 md:w-5 md:h-6" />
          <span class="self-center text-sm md:text-lg px-2 md:px-3"
            >Ciudad de México, México</span
          >
          <span
            class="flex justify-center w-full md:w-auto mb-4 md:mb-0 md:pl-10 md:self-center"
            ><Bange>Disponible para trabajar</Bange></span
          >
        </div>
        <div class="flex gap-7 pt-6 justify-center md:justify-start">
          <a href="https://github.com/THB-L85" target="_blank" class="hover:scale-110 transition duration-300 opacity-75 hover:opacity-100 hover:rotate-12"
            ><Github class="w-10 h-10" /></a
          >
          <a href="https://www.linkedin.com/in/luis-duran-r" target="_blank" class="hover:scale-110 transition duration-300 opacity-75 hover:opacity-100 hover:-rotate-12"
            ><Linkedin class="w-10 h-10" /></a
          >
        </div>
      </div>
      <div class="flex justify-center">
        <img
          src="./foto-profile-2.jpg"
          alt="foto"
          class="rounded-full size-32 my-2 lg:mt-2 md:w-40 md:h-40 lg:w-48 lg:h-48 object-cover hover:scale-110 transition duration-300"
        />
        <!-- <div class="relative group h-fit">
          <img
            src="./foto-profile-2.jpg"
            alt="foto"
            class="rounded-full w-32 h-32 my-2 lg:mt-2 md:w-40 md:h-40 lg:w-48 lg:h-48 object-cover transition duration-500 group-hover:opacity-0"
          />
          <img
            src="./profile-foto-2-Photoroom.jpg"
            alt="foto hover"
            class="rounded-full w-32 h-32 my-2 lg:mt-2 md:w-40 md:h-40 lg:w-48 lg:h-48 object-cover absolute inset-0 transition-opacity duration-500 opacity-0 group-hover:opacity-100"
          />
        </div> -->
      </div>
    </section>
    <section class="flex flex-col w-full h-auto mx-auto lg:w-[1128px] pt-28" id="habilidades">
      <div class="flex justify-center mb-10">
        <Title>Habilidades</Title>
      </div>
      <div
        class="flex flex-wrap gap-4 lg:gap-9 justify-center text-center mb-5 lg:mb-16"
      >
        <CardSkill titleCard="Desarrollo Web">
          <HTML class="w-auto h-12" />
          <CSS class="w-auto h-12" />
          <Bootstrap class="w-auto h-12" />
          <Tailwind class="w-auto h-12"/>
        </CardSkill>
        <CardSkill titleCard="Lenguajes de Programación">
          <PHP class="w-auto h-9 mt-3" />
          <Java class="w-auto h-12" />
          <CSharp class="w-auto h-12" />
          <JavaScript class="w-auto h-12" />
          <Dart class="w-auto h-12" />
        </CardSkill>
        <CardSkill titleCard="Frameworks">
          <Laravel class="w-auto h-12" />
          <DotNet class="w-auto h-12" />
          <Flutter class="w-auto h-12" />
        </CardSkill>
      </div>
      <div class="flex flex-wrap gap-4 lg:gap-9 justify-center text-center">
        <CardSkill titleCard="Bases de Datos">
          <SQLServer class="w-auto h-12" />
          <MySQL class="w-auto h-12" />
        </CardSkill>
        <CardSkill titleCard="Herramientas">
          <Git class="w-auto h-12" />
          <GitHubIcon class="w-auto h-12" />
          <Postman class="w-auto h-12" />
          <Swagger class="w-auto h-12" />
          <Figma class="w-auto h-12" />
          <AdobeXd class="w-auto h-12" />
          <Ubuntu class="w-auto h-12" />
        </CardSkill>
      </div>
    </section>
    <section id="experiencia" class="flex flex-col w-full h-auto mx-auto lg:w-[1128px] pt-28 my-16">
      <div class="flex justify-center mb-10">
        <Title>Experiencia</Title>
      </div>
      <div class="mx-6 lg:mx-44">
        <ExperienceCard 
          currentYears={ currentYears}
          currentMonths={ currentMonths}
        />
      </div>
    </section>
    <section id="sobre-mi" class="flex flex-col w-full h-auto mx-auto lg:w-[1128px] my-16">
      <div class="flex justify-center mb-10">
        <Title>Sobre mí</Title>
      </div>
      <div class="mx-10 lg:mx-52 text-base lg:text-lg opacity-80">
        <span>
          Soy egresado de la carrera de Ingeniería en Sistemas Computacionales
          en el Instituto Tecnológico de Tehuacán, con un gran interés en el
          desarrollo de software. Siempre mantengo una actitud proactiva para
          seguir adquiriendo conocimientos y complementar mi carrera
          profesional. Valoro profundamente el trabajo en equipo, por ello estoy
          en continua disposición de aprender de mis compañeros y compartir lo
          que sé.
        </span>
      </div>
    </section>
  </main>
</Layout>
