<span
  class="pulsate bg-transparent border-[0.5px] border-[#51e4b8] rounded-full text-white text-lg md:text-base font-medium px-2.5 py-0.5 dark:bg-green-900 dark:text-green-300 hover:scale-110 transition"
>
  <slot />
</span>
