<span
  class="pulsate bg-transparent border-[0.5px] border-[#51e4b8] bg-green-900 dark:bg-transparent text-white dark:text-green-300 rounded-full text-lg md:text-base font-medium px-2.5 py-0.5  hover:scale-110 transition duration-500"
>
  <slot />
</span>
