<header class="flex fixed top-0 z-10 w-full mx-auto justify-center items-center text-sm lg:text-xl py-7">
    <nav class="flex flex-row gap-x-3">
        <a href="#habilidades" class="text-[#F39C12] hover:bg-[white]/10 p-2.5 rounded-lg transition">Habilidades</a>
        <a href="#experiencia" class="hover:bg-[#0e1829] p-2.5 rounded-lg transition border border-transparent hover:border-white hover:border hover:border-opacity-5">Experiencia</a>
        <a href="#sobre-mi" class="hover:bg-[#0e1829] p-2.5 rounded-lg transition border border-transparent hover:border-white hover:border hover:border-opacity-5">Sobre mí</a>
        <a href="" class="hover:bg-[#0e1829] p-2.5 rounded-lg transition border border-transparent hover:border-white hover:border hover:border-opacity-5">Contacto</a>
    </nav>
</header>