<header class="flex fixed top-0 z-10 w-full mx-auto justify-center items-center backdrop-blur text-sm lg:text-xl py-5 md:py-7">
    <nav class="flex flex-row gap-x-3">
        <!-- <a href="#home" class="hover:text-[#F39C12] hover:bg-[white]/10 p-2.5 rounded-lg transition"> <Home class="w-auto h-6" /> </a> -->
        <a href="#habilidades" class="hover:text-[#F39C12] hover:bg-[white]/10 p-2.5 rounded-lg transition">Skills</a>
        <a href="#experiencia" class="hover:text-[#F39C12] hover:bg-[white]/10 p-2.5 rounded-lg transition border border-transparent hover:border-white hover:border hover:border-opacity-5">Experience</a>
        <a href="#sobre-mi" class="hover:text-[#F39C12] hover:bg-[white]/10 p-2.5 rounded-lg transition border border-transparent hover:border-white hover:border hover:border-opacity-5">About me</a>
        <!-- <a href="" class="hover:text-[#F39C12] hover:bg-[white]/10 p-2.5 rounded-lg transition border border-transparent hover:border-white hover:border hover:border-opacity-5">Contact me</a> -->
    </nav>
</header>