<div class="flex flex-col">
  <svg
    class={Astro.props.class}
    xmlns="http://www.w3.org/2000/svg"
    width="42"
    height="42"
    viewBox="0 0 42 42"
    fill="none"
  >
    <g clip-path="url(#clip0_51_9)">
      <path d="M42 0H0V42H42V0Z" fill="#512BD4"></path>
      <path
        d="M7.48575 26.8333C7.18878 26.8333 6.93636 26.7344 6.72848 26.5365C6.5206 26.3335 6.41666 26.0924 6.41666 25.8133C6.41666 25.5291 6.5206 25.2856 6.72848 25.0826C6.93636 24.8796 7.18878 24.7781 7.48575 24.7781C7.78767 24.7781 8.04257 24.8796 8.25045 25.0826C8.46328 25.2856 8.5697 25.5291 8.5697 25.8133C8.5697 26.0924 8.46328 26.3335 8.25045 26.5365C8.04257 26.7344 7.78767 26.8333 7.48575 26.8333Z"
        fill="white"></path>
      <path
        d="M19.3575 26.6659H17.4272L12.3416 18.6427C12.2129 18.4397 12.1064 18.229 12.0223 18.0108H11.9778C12.0174 18.2443 12.0372 18.7442 12.0372 19.5104V26.6659H10.3295V15.75H12.3861L17.301 23.5829C17.5089 23.9078 17.6425 24.131 17.7019 24.2528H17.7316C17.6821 23.9636 17.6573 23.4739 17.6573 22.7836V15.75H19.3575V26.6659Z"
        fill="white"></path>
      <path
        d="M27.6729 26.6659H21.6964V15.75H27.4354V17.2877H23.4635V20.3782H27.1236V21.9082H23.4635V25.1358H27.6729V26.6659Z"
        fill="white"></path>
      <path
        d="M36.1667 17.2877H33.1079V26.6659H31.3408V17.2877H28.2895V15.75H36.1667V17.2877Z"
        fill="white"></path>
    </g>
    <defs>
      <clipPath id="clip0_51_9">
        <rect width="42" height="42" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
  <span class="text-xs mt-2">.NET</span>
</div>
